body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url("img/background.png") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    box-sizing: border-box;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.15);
}

.hand {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    margin: auto;
    left: 0;
    right: 0;
    transform-origin: bottom;
}

.core {
    position: absolute;
    width: 18px;
    height: 18px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(253, 38, 115, 0.87);
    border-radius: 2px;
}

.hour {
    height: 60px;
    width: 10px;
    top: 140px;
    border-radius: 5px;
    z-index: 2;
}

.minute {
    height: 100px;
    width: 7px;
    top: 100px;
    border-radius: 5px;
    z-index: 3;
}

.second {
    height: 140px;
    width: 5px;
    top: 60px;
    border-radius: 5px;
    z-index: 4;
}